.item {
    margin: 2rem auto;
    width: 80%;
    box-shadow: 3px 3px 2px 1px rgba(67, 67, 67, 0.699);
    border-radius: 10px;
    border: 1px solid black;
}

.image {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.image img {
    width: 100%;
    object-fit: cover;
}

.content {
    text-align: center;
    padding: 1rem;
}

.content h3 {
    font-size: 1.5rem;
    color: #6f1116;
}

.actions {
    padding: 1.5rem;
    text-align: center;
}

.actions button {
    font: inherit;
    cursor: pointer;
    width: 40%;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: rgb(253, 166, 195);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}

.actions button:hover,
.actions button:active {
    background-color: #ffe2ed;
    box-shadow: inset 2px 2px 1px 1px rgb(82, 82, 82), inset -2px -2px 1px 1px rgb(82, 82, 82);
}