.form {
    width: 80%;
    margin: 4rem auto;
    background-color: aliceblue;
    padding: 2.5rem;
    border: 1px solid lightblue;
    box-shadow: 5px 5px 8px rgb(127, 188, 208);
    border-radius: 20px;

}

.input {
    margin-bottom: 1.5rem;
}

.input label {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
}

.input input,
.input textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
}

.submit {
    margin-top: 1rem;
    text-align: right;
}

.submit button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
}

.submit button:hover,
.submit button:active {
    background-color: #a50e48;
    border-color: #a50e48;
}