main {
  margin: 5rem auto;
  box-shadow: 18px 22px 8px rgba( 0, 0, 0.6);
  width: 40rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f4f0fa;
}

h1 {
  text-transform: uppercase;
  color: #575757;
  margin: 0;
  font-size: 2rem;
}

button {
  margin: 1rem 1rem;
}

h1+div {
  font-size: 3rem;
  color: #3c0080;
  margin: 2rem 0;
  font-weight: bold;
}

div+button{
  height: 60px;
  width: 12rem;
}