.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-expense__control label {
    font-weight: bold;
    margin: 0 0 0.5rem 1rem;
    display: block;
}

.new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 4px 3px 2px black, inset 2px 2px grey, inset -2px -2px grey;
    width: 20rem;
    max-width: 100%;
}

.new-expense__actions {
    text-align: right;
}