.new-expense {
    background-color: #a892ee;
    box-shadow: inset .5px .5px 10px rgb(119, 60, 151), inset -.5px -.5px 10px rgb(119, 60, 151);
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
}

.new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    box-shadow: inset .5px .5px 10px rgb(119, 60, 151), inset -.5px -.5px 10px rgb(119, 60, 151), 3px 2px 1px black;
}

.new-expense button:hover,
.new-expense button:active {
    background-color: #6d0b9b;
    border-color: #6d0b9b;
    box-shadow: inset .5px .5px 10px #40005d, inset -.5px -.5px 10px #40005d, 6px 5px 1px black;
}

.new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
    background-color: #ddb3f8;
}