
li>figure {
    margin: 0;
    padding: 0;
    width: 70%;
}

figure>blockquote {
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
    color: #212929;
}

blockquote>p {
    margin: 1rem;
    font-size: 2rem;
}

blockquote+figcaption {
    font-style: italic;
    color: #566d6d;
    font-size: 1.5rem;
    margin: 2rem 0 0 3rem;
}