
li>figure {
    margin: 0;
    padding: 0;
    width: 70%;
}

figure>blockquote {
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
    color: #212929;
}

blockquote>p {
    margin: 0;
    margin-bottom: 0.25rem;
}

blockquote+figcaption {
    font-style: italic;
    color: #566d6d;
}