header {
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 144, 135);
    box-shadow: 0 4px 5px 0 black;
}

header>div {
    font-size: 4.5rem;
    color: black;
    margin-left: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 25px 0 0;
    padding: 0;
}

nav li {
    margin-left: 2rem;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #88dfdf;
}

nav a:hover,
nav a:active,
nav a.active {
    color: #e6fcfc;
}